/*  your css code here. If applicable */
body {
    font-family: Gilroy;
    margin: 20px;
}

h1 {
    text-align: center;
}

.form-group {
    margin: 20px 0;
    text-align: center;
}

#book-form input {
    padding: 10px;
    margin-right: 5px;
}

#submit {
    padding: 10px 20px;
    cursor: pointer;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th, .table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.delete {
    color: red;
    cursor: pointer;
}
